
@font-face {
    font-family:"roboto";
    src: url(fonts/roboto) format(woff2);
    font-weight: 500;
    font-style: normal;
}

/*variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #eeeeee;
  --basic-extra-dark: #283136;
  --basic-neutral: #c1c1c1;
  --basic-white: #FFFFFF;
  --basic-grey: #A6A6A6;
  --basic-multi-light-grey: #e1e1e1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow:#EFC849;
  --basic-dark-grey: #444444;
  --basic-light-grey: #888888; 
  --basic-bright-black:  #666666;
  --basic-graphite-grey: D5D5D5; 
}


/*Global*/

.main-page {
    min-width: 1440;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}




.main-header {
    background: #EEEEEE;
}

.main-header-logo {
  justify-content: stretch;
    width: 159.87px;
height: 65.02px;
   }

.site-navigation {
    list-style: none;
    width: 374px;
    margin: 0;
    padding: 0;
   }

.user-navigation {
    max-width: 140px;
}


.user-navigation .bucket-link {
    padding-left: 50px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
}

.container {
    background: #888888;
    width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.slider2 {
    display: none;
}

.main-navigation-wrapper  {
    display: flex;
    justify-content: space-between;
}

/*main*/

.services {
    margin-bottom: 80px;  
}

.services-item {
    width: 300px;
    list-style: none;
    margin: 0 10px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.feaure-item {
    margin-bottom: 25px;
}

.customers-list {
    list-style: none;
}

.customers {
    
}
    outline: 5px solid red;
}

.customers-item {
    outline: 5px solid blue;  
}

.social-list {
    
   display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}