
@font-face {
    font-family:"roboto";
    src: url(fonts/roboto) format(woff2);
    font-weight: 500;
    font-style: normal;
}

/*variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #eeeeee;
  --basic-extra-dark: #283136;
  --basic-neutral: #c1c1c1;
  --basic-white: #FFFFFF;
  --basic-grey: #A6A6A6;
  --basic-multi-light-grey: #e1e1e1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow:#EFC849;
  --basic-dark-grey: #444444;
  --basic-light-grey: #888888; 
  --basic-bright-black:  #666666;
  --basic-graphite-grey: D5D5D5; 
}


/*Global*/

.main-page {
    min-width: 1440;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}


.page {
    margin: 0 auto;
    height: 100%;
    }


.main-header {
    background: #EEEEEE;
}

.main-header-logo {
    display: flex;
  justify-content: flex-start;
  position: absolute;
    width: 159.87px;
height: 65.02px;
   }

.site-navigation {
    list-style: none;
    width: 374px;
    margin: 0;
    padding: 0;
   }


.user-navigation .bucket-link {
    padding-left: 50px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
}

.container {
    background: #888888;
    width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.flying-phones {
    display: flex;
    justify-content: end;
}

.btn {
    position: absolute;
width: 240px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.slider2 {
    display: none;
}

.main-navigation-wrapper  {
    display: flex;
    justify-content: space-between;
}

/*main*/

.services {
    margin-bottom: 80px;  
}

.services-item {
    width: 300px;
    list-style: none;
    margin: 0 10px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.button1 {
    position: absolute;
width: 160px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.button2 {
    position: absolute;
width: 160px;
height: 50px;
background: #00CA74;
border-radius: 3px;
}

.button3 {
    position: absolute;
width: 160px;
height: 50px;
background: #EFC849;
border-radius: 3px;
}

/*feature*/

.features {
    display: flex;
    justify-content: stretch;
    margin-bottom: 35px;
}

.feature-item {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    }
}

.feature-skill {
    font-size: 16px;
line-height: 24px;
color: #283136;
}

.feature-title {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: #000000;
}

.feature-list {
    font-size: 16px;
line-height: 24px;
color: #283136;
}

.feature-title2 {
    font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.feature-list2 {
    list-style: none;
}

.feaure-item {
    display: flex;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
font-size: 45px;
line-height: 64px;
color: #000000;
}


.social-list {
     display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*footer*/

.slogan1 {
    position: absolute;
width: 660px;
height: 36px;
display: flex;
align-items: center;
color: #000000;
}

.slogan2 {
    position: absolute;
width: 373px;
height: 22px;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
color: #444444;
}