/*fonts*/

@font-face {
    font-family:"roboto";
    src: url(fonts/roboto) format(woff2);
    font-weight: 500;
    font-style: normal;
}

/*variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #eeeeee;
  --basic-extra-dark: #283136;
  --basic-neutral: #c1c1c1;
  --basic-white: #FFFFFF;
  --basic-grey: #A6A6A6;
  --basic-multi-light-grey: #e1e1e1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow:#EFC849;
  --basic-dark-grey: #444444;
  --basic-light-grey: #888888; 
  --basic-bright-black:  #666666;
  --basic-graphite-grey: D5D5D5; 
}


/*Global*/

.main-body {
    min-width: 1440;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}

.page {
margin: 0 auto;
}

.main-page {
  background: #fffefe;
  width: 1440px;
height: 416px;
}

/*Header*/

 .main-header {
   background-color: #eeeeee;
   width: 1440;
   height: 545;
  }

.main-header-logo {
  width: 159px;
  height: 65px;
}
 
.site-item {
  
font-size: 16px;
line-height: 30px;
color: black;
list-style: none;
text-decoration: none;
}

.container {
  width: 1440px;
}

.slider {
  width: 1440px;
  height: 431px;
  background-color: #eeeeee;
 }

.title {
  font-weight: 500;
font-size: 55px;
line-height: 55px;
color: black;
}

.subtitle {
  font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.flying-phones {
  width: 760px;
  height: 431px;
margin-right: 143px;
margin-left: 537px;
margin-bottom: 114px;
}

button-item {
  width: 18px;
height: 18px;
color: #FFFFFF;
}

/*services*/

.link-slider {
  color: FB565A;
 }

.website {
  width: 300px;
height: 146px;
left: 140px;
top: 625px;
background: #FB565A;
}

.services-list {
  list-style: none;
}

.site {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.site-title {
  font-size: 16px;
line-height: 24px;
color: #283136;
}

.button {
  width: 160px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.applications {
  font-size: 24px;
line-height: 30px;
color: #000000;
}

.applications-title {
  font-size: 16px;
line-height: 24px;
color: #283136;
}

.presentations {
  font-size: 24px;
line-height: 30px;
color: #000000;
}

.presentations-title {
  font-size: 16px;
line-height: 24px;
color: #283136;;
}

/*features*/

.feature-title {
  font-weight: 500;
font-size: 45px;
line-height: 45px;
color: #000000;
}

.feature-skill {
  font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.feature-list {
  font-size: 16px;
line-height: 24px;
color: #283136;
}

.logo-main {
  width: 360px;
height: 208px;
left: 940px;
top: 1093px;
}

.feature-title2 {
  font-weight: bold;
font-size: 16px;
line-height: 24px;
color: black;
}

.feature-list2 {
  list-style: none;
text-decoration: none;
}

.percentage {
  font-size: 45px;
line-height: 64px;
color: black;
}

/*customers*/

.customers-item {
  list-style: none;
}

.customer1 {
  width: 199px;
height: 67.82px;
color: black;
}

.customer2 {
  width: 209px;
height: 90px;
}

.customer3 {
  width: 185px;
height: 52px;
}

.customer4 {
  width: 173px;
height: 84px;
}

/*footer*/

.studio-address {
  font-size: 18px;
line-height: 30px;
color: black;
font-weight: bold;
}

.nerds-address {
  font-size: 16px;
line-height: 18px;
color: #666666;
}

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  color: #666666;  
}

.button-address {
  width: 219px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.social-list {
list-style: none;
}

.slogan1 {
  font-size: 36px;
line-height: 36px;
color: #000000;
}

.slogan2 {
  font-size: 16px;
line-height: 22px;
color: #444444;
}


/*Catalog*/

.main-header {
  width: 1440px;
height: 355px;
background: #EEEEEE;
}

.main-header-logo {
  width: 159.87px;
height: 65.02px;
color: #000000;
}

.site-navigation {
  list-style: none;
}

.page-title {
  font-weight: 500;
font-size: 55px;
line-height: 55px;
color: #000000;
padding-left: 356px;
}

/*wrapper*/

.filter-title {
  font-size: 18px;
line-height: 30px;
color: #000000;
}

.grid-list {
  list-style: none;
}

.features-list {
  list-style: none;
}  

.filtration-title {
  font-size: 18px;
line-height: 30px;
font-weight: bold;
}

.sort-list1 {
  list-style: none;
  text-decoration: none;
}

.sort-list2 {
  list-style: none;
  text-decoration: none;
}

/*projects*/

.projects {
  list-style: none;
}

.sedona-project {
  width: 360px;
height: 231px;
background: #EEEEEE;
}

.sedona {
  font-size: 18px;
line-height: 30px;
color: #000000;
padding-left: 145px;
padding-right: 144px;
}

.sedona-info {
  font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #666666;
padding-left: 52px;
padding-right: 53px;
}

.button-sedona {
  width: 200px;
height: 50px;
background: #FB565A;
border-radius: 3px;
padding-left: 80px;
padding-right: 80px;
}

.button-list {
  list-style: none;
}