/*fonts*/

@font-face {
    font-family:"roboto";
    src: url(fonts/roboto) format(woff2);
    font-weight: 500;
    font-style: normal;
}

/*variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #eeeeee;
  --basic-extra-dark: #283136;
  --basic-neutral: #c1c1c1;
  --basic-white: #FFFFFF;
  --basic-grey: #A6A6A6;
  --basic-multi-light-grey: #e1e1e1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow:#EFC849;
  --basic-dark-grey: #444444;
  --basic-light-grey: #888888; 
  --basic-bright-black:  #666666;
  --basic-graphite-grey: D5D5D5; 
}


/*Global*/

.main-page {
    min-width: 1440;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;

   min-height: 100%;
    display: grid;
    grid-template-rows: min-content
     1fr
      min-content;
    align-content: start;
}


/*grid*/


.page {
margin: 0 auto;
height: 100%;
}

/*navigation*/

.main-navigation {
  display: grid;
}

.main-header {
 display: grid;
  grid-template-columns: 1fr min-content;
 background-color: #eeeeee;
   width: 1440px;
   height: 545px;
  }

.main-header-bar {
background-color: #EEEEEE;
}
 
.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 500px;
  margin: auto;
  padding-left: 100px;
  padding-bottom: 250px;
}
.site-navigation {
  margin: 0;
  padding: 0;
font-size: 16px;
line-height: 30px;
color: black;
list-style: none;
text-decoration: none;
}




.slider {
  width: 1440px;
  height: 431px;
  background-color: #eeeeee;
 }
 
 .slider2 {
   display: none;
 }

.title {
  padding-left: 140px;
  padding-right: 762px;
  font-weight: 500;
font-size: 55px;
line-height: 55px;
color: black;
}

.subtitle {
  font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.flying-phones {
  width: 760px;
  height: 431px;
  margin-right: 143px;
  margin-left: 537px;
  margin-bottom: 114px;
  padding-right: 143px;
  padding-left: 397px;
}

.button-item {
  width: 18px;
height: 18px;
color: #FFFFFF;
}

.btn {
  position: absolute;
width: 240px;
height: 50px;

background: #FB565A;
border-radius: 3px;
}

/*Main*/



.services {
  width: 1440px;
  margin-bottom: 100px;
 }

.link-slider {
  color: FB565A;
 }

.website {
  width: 300px;
height: 146px;
left: 140px;
top: 625px;
background: #FB565A;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin-left: 140px;
  margin-right: 200px;
  list-style: none;
 }

 .button1 {
  position: absolute;
  width: 160px;
  height: 50px;
  background: #FB565A;
border-radius: 3px;
 }

 .button2 {
  position: absolute;
  width: 160px;
  height: 50px;
  background: #00CA74;
border-radius: 3px;
 }

.button3 {
  position: absolute;
width: 160px;
height: 50px;
background: #EFC849;
border-radius: 3px;
}

.site {
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: #000000;
}

.site-title {
  font-size: 16px;
line-height: 24px;
color: #283136;
}

.button {
  width: 160px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.applications {
  font-size: 24px;
line-height: 30px;
color: #000000;
}

.applications-title {
  font-size: 16px;
line-height: 24px;
color: #283136;
}

.presentations {
  font-size: 24px;
line-height: 30px;
color: #000000;
}

.presentations-title {
  font-size: 16px;
line-height: 24px;
color: #283136;;
}

/*features*/

.features {
 display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 300px;

}

.feature1 {
  width: 500px;
}
.feature-title {
  font-weight: 500;
font-size: 45px;
line-height: 45px;
color: #000000;
}

.feature-skill {
  font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #283136;
}

.feature-list {
  font-size: 16px;
line-height: 24px;
color: #283136;
}

.logo-main {
  width: 360px;
height: 208px;
left: 940px;
top: 1093px;
}

.feature-title2 {
  font-weight: bold;
font-size: 16px;
line-height: 24px;
color: black;
}

.feature-list2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
text-decoration: none;
column-gap: 42px;
}

.percentage {
  font-size: 45px;
line-height: 64px;
color: black;
}

/*customers*/

.customers {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.customers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  column-gap: 95px 104px 120px;
  padding-right: 183px;
  padding-left: 172px;
}

.customers-item {
  list-style: none;

}

.customer1 {
  padding-left: 172px;
  width: 199px;
height: 67.82px;
color: black;

}

.customer2 {
  width: 209px;
height: 90px;
}

.customer3 {
  width: 185px;
height: 52px;
}

.customer4 {
  width: 173px;
height: 84px;
}

/*footer*/

.container {
  width: 1440px;
}

.address {
  width: 319px;
height: 308px;
background: #FFFFFF;
  font-size: 18px;
line-height: 30px;
color: black;
font-weight: bold;
}

.nerds-address {
  font-size: 16px;
line-height: 18px;
color: #666666;
}

.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  color: #666666;  
}

.button-address {
  width: 219px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}



.social-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 9px;
list-style: none;
}

.slogan1 {
  font-size: 36px;
line-height: 36px;
color: #000000;
}

.slogan2 {
  font-size: 16px;
line-height: 22px;
color: #444444;
}

.address {
  position: absolute;
}




/*Catalog*/
.inner-catalog-page{
  width: 1440px;
}
.page {
  height: 100%;
}

.main-header {
  width: 1440px;
}

.main-header-bar{
   background-color: #EEEEEE;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
width: 437px;
  padding-bottom: 100px;
background: #EEEEEE;
}

.main-header-logo {
  width: 159px;
  height: 65px;
 padding-top: 50px;
padding-left: 140px;
 width: 159.87px;
height: 65.02px;
color: #000000;
}

.site-navigation {
  margin: 0;
  padding: 0;
 list-style: none;
}


.page-title {
  font-weight: 500;
font-size: 55px;
line-height: 55px;
color: #000000;
padding-left: 356px;
padding-bottom: 135px;
}

/*wrapper*/

.wrapper {
  width: 1440px;
 display: grid;
grid-template-columns: 260px 1fr;
align-content: start;
}


.filter-title {
font-size: 18px;
line-height: 30px;
color: #000000;
}


.grid-list {
  list-style: none;
}

.features-list {
  list-style: none;
}  

.filtration-title {
  font-size: 18px;
line-height: 30px;
font-weight: bold;
}



.sort-list1 {
  list-style: none;
  text-decoration: none;
}

.sort-list2 {
  list-style: none;
  text-decoration: none;
}

/*projects*/

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.sedona-project {
  width: 360px;
height: 231px;
background: #EEEEEE;
}

.sedona {
  font-size: 18px;
line-height: 30px;
color: #000000;
padding-left: 145px;
padding-right: 144px;
}

.sedona-info {
  font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #666666;
padding-left: 52px;
padding-right: 53px;
}

.button-sedona {
  width: 200px;
height: 50px;
background: #FB565A;
border-radius: 3px;
padding-left: 80px;
padding-right: 80px;
}

.button-list {
  list-style: none;
}
 

/* footer*/

.footer {
  width: 1440px; 
}


.address {
  position: absolute;
}






/*variables*/
:root {
  --basic-black: #000000;
  --basic-dark: #eeeeee;
  --basic-extra-dark: #283136;
  --basic-neutral: #c1c1c1;
  --basic-white: #FFFFFF;
  --basic-grey: #A6A6A6;
  --basic-multi-light-grey: #e1e1e1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow:#EFC849;
  --basic-dark-grey: #444444;
  --basic-light-grey: #888888; 
  --basic-bright-black:  #666666;
  --basic-graphite-grey: D5D5D5; 
}


/*Global*/

.body {
 font-family: 'Roboto', sans-serif;
}

.main-page {
    min-width: 1440;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
}


.page {
    margin: 0 auto;
    height: 100%;
    }


.main-header {
    background: #EEEEEE;
}

.main-header-logo {
    display: flex;
  justify-content: flex-start;
  position: absolute;
    width: 159.87px;
height: 65.02px;
   }

.site-navigation {
    list-style: none;
    width: 374px;
    margin: 0;
    padding: 0;
   }


.user-navigation .bucket-link {
    padding-left: 50px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;
}

.container {
    background: #888888;
    width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.flying-phones {
    display: flex;
    justify-content: end;
}

.slider2 {
    display: none;
}

.btn {
    position: absolute;
width: 240px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.slider2 {
    display: none;
}

.main-navigation-wrapper  {
    display: flex;
    justify-content: space-between;
}

/*main*/

.services {
    margin-bottom: 80px;  
}

.services-item {
    width: 300px;
    list-style: none;
    margin: 0 10px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.button1 {
    position: absolute;
width: 160px;
height: 50px;
background: #FB565A;
border-radius: 3px;
}

.button2 {
    position: absolute;
width: 160px;
height: 50px;
background: #00CA74;
border-radius: 3px;
}

.button3 {
    position: absolute;
width: 160px;
height: 50px;
background: #EFC849;
border-radius: 3px;
}

/*feature*/

.features {
    display: flex;
    justify-content: stretch;
    margin-bottom: 35px;
}

.feature-item {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    }
}

.feature-skill {
    font-size: 16px;
line-height: 24px;
color: #283136;
}

.feature-title {
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 45px;
color: #000000;
}

.feature-list {
    font-size: 16px;
line-height: 24px;
color: #283136;
}

.feature-title2 {
    font-weight: bold;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.feature-list2 {
    list-style: none;
}

.feaure-item {
    display: flex;
    justify-content: space-between;
}

.percentage {
    font-weight: bold;
font-size: 45px;
line-height: 64px;
color: #000000;
}


.social-list {
     display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

/*footer*/

.slogan1 {
    position: absolute;
width: 660px;
height: 36px;
display: flex;
align-items: center;
color: #000000;
}

.slogan2 {
    position: absolute;
width: 373px;
height: 22px;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
color: #444444;
}


/* catalog*/



.main-header {
    background: #EEEEEE;
}

.main-header-logo {
    display: flex;
  justify-content: flex-start;
  position: absolute;
    width: 159.87px;
height: 65.02px;
   }

   
.site-navigation {
    list-style: none;
    width: 374px;
    margin: 0;
    padding: 0;
   }

   
.user-navigation .bucket-link {
    padding-left: 50px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*wrapper*/

.wrapper {
    display: flex;
    justify-content: space-between;
}

.filter {
    outline: 2px solid red;
}

.filtration-title {
    font-weight: bold;
font-size: 18px;
line-height: 30px;
color: black;
}

.filtration-result {
   
   outline: 2px solid blue;
}

.projects {
    list-style: none;
}

.container {
    display: flex; 
}

.sort-list {
    list-style: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 42px;
}

.sedona-project {
position: absolute;
width: 360px;
height: 231px;
background: #EEEEEE;
}

.button-sedona {
    width: 200px;
    height: 50px;
    background: #FB565A;
border-radius: 3px;
}

.sedona {
    font-size: 18px;
line-height: 30px;
color: black;
}

